/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    font-family: "Poppins", sans-serif;
    font-size: 3.4vw;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgba(232,72,93,1) 20%, rgba(239,127,140,1) 45%, rgba(135,160,143,1) 80%);
    margin-bottom: 3vh;
}

.subcontainer{
  margin: 8vw;
  margin-top: 4vh;
  margin-bottom: 0;
}