/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    font-size: 35px; /* Big font size */
    text-align: center;
    /* color: rgb(227,24,55); */
    font-weight: 500;
    background: linear-gradient(160deg, #E31937, #f16b98, #4c5bad);
}

.subcontainer{
  margin: 8vw;
  margin-top: 4vh;
  margin-bottom: 0;
}