
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7vw;
  flex-wrap: wrap;
  font-size: 3vw;
}


.component {
  margin: 1%;
  border-radius: 5px;
  margin-bottom: 2%;
}

.my_table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.3vw;
}

.column_width{
  width: 18vw;
  font-size: 1.2vw;
}

@media screen and (max-width: 767px) {
.column_width{
  width: 40vw;
  font-size: 2vw;
}
}